#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <150>;
#define COMBO_TERM_FAST 25
#define COMBO_TERM_SLOW 50

// TOP ROW
// for : and ;
ZMK_COMBO(col, &kp COLON, LT2 LT3, DEF COL, COMBO_TERM_FAST)
ZMK_COMBO(semi, &kp SEMI, RT2 RT3, DEF COL, COMBO_TERM_FAST)

// = and +
ZMK_COMBO(eq, &kp EQUAL, LT1 LT2, DEF COL, COMBO_TERM_FAST)
ZMK_COMBO(plus, &kp PLUS, RT1 RT2, DEF COL, COMBO_TERM_FAST)

// for [ and ]
ZMK_COMBO(l_sqb, &kp LBKT, LM2 LM3, DEF COL, COMBO_TERM_FAST)
ZMK_COMBO(r_sqb, &kp RBKT, RM2 RM3, DEF COL, COMBO_TERM_FAST)

// for ( and )
ZMK_COMBO(l_par, &kp LPAR, LM1 LM2, DEF COL, COMBO_TERM_FAST)
ZMK_COMBO(r_par, &kp RPAR, RM1 RM2, DEF COL, COMBO_TERM_FAST)

// for ~ and |
ZMK_COMBO(til, &kp TILDE, LB2 LB3, DEF COL, COMBO_TERM_FAST)
ZMK_COMBO(pipe, &kp PIPE, RB2 RB3, DEF COL, COMBO_TERM_FAST)

// copy/paste macOS
ZMK_COMBO(copy, &kp U_CP, LB1 LB2, DEF COL, COMBO_TERM_FAST)
ZMK_COMBO(paste, &kp U_PA, RB1 RB2, DEF COL, COMBO_TERM_FAST)
