/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip {
    chain-length = <54>;
};

&caps_word {
    continue-list = <UNDERSCORE BACKSPACE DELETE LEFT_ALT RIGHT_ALT LEFT_GUI RIGHT_GUI>;
};

/ {
    combos {
        compatible = "zmk,combos";

        l_sqb {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <14 15>;
            layers = <0 1>;
        };

        l_par {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <15 16>;
            layers = <0 1>;
        };

        r_par {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <20 19>;
            layers = <0 1>;
        };

        r_sqb {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <21 20>;
            layers = <0 1>;
        };

        til {
            bindings = <&kp TILDE>;
            key-positions = <26 27>;
            layers = <0 1>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <33 32>;
            layers = <0 1>;
        };

        col {
            bindings = <&kp COLON>;
            key-positions = <2 3>;
            layers = <0 1>;
        };

        semi {
            bindings = <&kp SEMI>;
            key-positions = <8 9>;
            layers = <0 1>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <3 4>;
            layers = <0 1>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <7 8>;
            layers = <0 1>;
        };
    };

    macros {
        tmux_toggle_collapse: tmux_toggle_collapse {
            compatible = "zmk,behavior-macro";
            label = "TMUX_TOGGLE_COLLAPSE";
            #binding-cells = <0>;
            bindings = <&kp LC(S) &kp Z>;
        };

        tmux_session_switch: tmux_session_switch {
            compatible = "zmk,behavior-macro";
            label = "TMUX_SESSION_SWITCH";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LC(S) &kp F>,
                <&macro_release>,
                <&kp LC(S) &kp F>;
        };

        tmux_scroll_mode: tmux_scroll_mode {
            compatible = "zmk,behavior-macro";
            label = "TMUX_SCROLL_MODE";
            #binding-cells = <0>;
            bindings = <&kp LC(S) &kp LEFT_BRACKET>;
        };

        tmux_next_window: tmux_next_window {
            compatible = "zmk,behavior-macro";
            label = "Go to next tmux window";
            #binding-cells = <0>;
            bindings = <&kp LC(S) &kp N>;
        };

        tmux_prev_window: tmux_prev_window {
            compatible = "zmk,behavior-macro";
            label = "TMUX_PREV_WINDOW";
            #binding-cells = <0>;
            bindings = <&kp LC(S) &kp P>;
        };

        tmux_prev_session: tmux_prev_session {
            compatible = "zmk,behavior-macro";
            label = "TMUX_PREV_SESSION";
            #binding-cells = <0>;
            bindings = <&kp LC(S) &kp LEFT_PARENTHESIS>;
        };

        tmux_next_session: tmux_next_session {
            compatible = "zmk,behavior-macro";
            label = "TMUX_NEXT_SESSION";
            #binding-cells = <0>;
            bindings = <&kp LC(S) &kp RIGHT_PARENTHESIS>;
        };
    };

    behaviors {
        hm: home_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME MOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            global-quick-tap;
            flavor = "tap-preferred";
            quick-tap-ms = <125>;
            tapping-term-ms = <200>;
        };

        cpt: cpt {
            compatible = "zmk,behavior-hold-tap";
            label = "CPT";
            bindings = <&kp>, <&caps_word>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            quick-tap-ms = <80>;
            flavor = "hold-preferred";
        };

        cm_tog: cm_tog {
            compatible = "zmk,behavior-tap-dance";
            label = "CM_TOG";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE)>, <&to 1>;
        };

        qw_tog: qw_tog {
            compatible = "zmk,behavior-tap-dance";
            label = "QW_TOG";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE)>, <&to 0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB            &kp Q       &lt 8 W         &kp E         &kp R         &kp T        &kp Y        &kp U            &kp I         &kp O            &kp P                    &kp LEFT_BRACKET
&cm_tog            &hm LGUI A  &hm LEFT_ALT S  &hm LCTRL D   &hm LSHIFT F  &kp G        &kp H        &hm RSHFT J      &hm RCTRL K   &hm RIGHT_ALT L  &hm RIGHT_GUI SEMICOLON  &kp SQT
&cpt LEFT_SHIFT 0  &kp Z       &kp X           &kp C         &kp V         &kp B        &kp N        &kp M            &kp COMMA     &kp DOT          &kp FSLH                 &kp ESC
                                               &lt 7 ESCAPE  &lt 5 SPACE   &lt 2 TAB    &lt 4 ENTER  &lt 3 BACKSPACE  &lt 6 ESCAPE
            >;
        };

        colemak {
            bindings = <
&kp TAB        &kp Q           &lt 8 W         &kp F         &kp P         &kp B        &kp J        &kp L            &kp U         &kp Y       &kp SEMI    &kp LBKT
&qw_tog        &hm LEFT_GUI A  &hm LEFT_ALT R  &hm LCTRL S   &hm LSHIFT T  &kp G        &kp M        &hm RSHIFT N     &hm RCTRL E   &hm RALT I  &hm RCMD O  &kp APOS
&cpt LSHIFT 0  &kp X           &kp C           &kp D         &kp V         &kp Z        &kp K        &kp H            &kp COMMA     &kp DOT     &kp FSLH    &kp ESCAPE
                                               &lt 7 ESCAPE  &lt 5 SPACE   &lt 2 TAB    &lt 4 ENTER  &lt 3 BACKSPACE  &lt 6 ESCAPE
            >;

            label = "CLM";
        };

        navigation_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp LC(N1)            &kp LC(N2)             &kp LC(N3)        &kp LC(N4)  &kp LC(N5)    &kp LC(N6)  &kp LC(N7)  &kp LC(N8)  &kp LC(N9)  &kp LC(N0)  &trans
&trans  &kp LGUI              &kp LALT               &kp LEFT_CONTROL  &kp LSHFT   &trans        &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &trans      &to 1
&trans  &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp LG(C)         &kp LG(V)   &trans        &trans      &trans      &trans      &trans      &trans      &trans
                                                     &trans            &trans      &trans        &trans      &trans      &trans
            >;

            label = "Nav";
        };

        num_layer {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans    &kp LBKT   &kp N7  &kp N8  &kp N9  &kp NUMBER_0  &kp RIGHT_BRACKET
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp SEMI   &kp N4  &kp N5  &kp N6  &kp MINUS     &kp EQUAL
&trans  &trans    &trans    &trans     &trans     &trans    &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp PERIOD    &kp FSLH
                            &trans     &trans     &trans    &trans     &trans  &trans
            >;

            label = "Num";
        };

        symbol_layer {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans    &kp LBRC   &kp AMPERSAND    &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp COLON  &kp DOLLAR       &kp PRCNT     &kp CARET             &kp UNDER              &kp PLUS
&trans  &trans    &trans    &trans     &trans     &trans    &kp TILDE  &kp EXCLAMATION  &kp AT_SIGN   &kp HASH              &kp COMMA              &kp BACKSLASH
                            &trans     &trans     &trans    &trans     &trans           &trans
            >;

            label = "Sym";
        };

        fn_layer {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans    &kp LS(LG(NUMBER_3))  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp LS(LG(NUMBER_4))  &kp F4  &kp F5  &kp F6  &trans   &trans
&trans  &trans    &trans    &trans     &trans     &trans    &trans                &kp F1  &kp F2  &kp F3  &trans   &trans
                            &trans     &trans     &trans    &trans                &trans  &trans
            >;

            label = "Fun";
        };

        media_layer {
            bindings = <
&trans  &kp C_BRI_DEC  &kp C_BRI_UP  &trans  &trans  &trans    &kp C_PP         &kp C_NEXT       &kp C_VOL_DN     &kp C_VOL_UP     &kp K_MUTE  &bt BT_PRV
&trans  &trans         &trans        &trans  &trans  &trans    &trans           &trans           &trans           &trans           &trans      &bt BT_NXT
&trans  &trans         &trans        &to 1   &trans  &trans    &rgb_ug RGB_TOG  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_EFF  &trans      &bt BT_CLR
                                     &trans  &trans  &trans    &trans           &trans           &trans
            >;

            label = "Media";
        };

        tmux {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &trans     &trans  &trans  &kp PIPE     &tmux_prev_session  &tmux_next_session     &trans                &trans  &trans  &trans
&trans  &trans  &kp LC(S)  &trans  &trans  &kp MINUS    &tmux_scroll_mode   &tmux_toggle_collapse  &tmux_session_switch  &trans  &trans  &trans
&trans  &trans  &trans     &trans  &trans  &trans       &kp LC(Z)           &tmux_prev_window      &tmux_next_window     &trans  &trans  &trans
                           &trans  &trans  &trans       &trans              &trans                 &trans
            >;

            label = "Tmux";
        };

        window_layer {
            bindings = <
&trans  &trans  &trans  &kp LS(LA(LC(LG(E))))  &kp LS(LA(LC(LG(R))))  &trans    &kp LS(LA(LC(LG(Y))))  &kp LS(LA(LC(LG(U))))  &trans                 &trans                 &trans  &trans
&trans  &trans  &trans  &trans                 &kp LS(LA(LC(LG(F))))  &trans    &kp LS(LA(LC(LG(H))))  &kp LS(LA(LC(LG(J))))  &kp LS(LA(LC(LG(K))))  &kp LS(LA(LC(LG(L))))  &trans  &trans
&trans  &trans  &trans  &trans                 &trans                 &trans    &trans                 &kp LS(LA(LC(LG(M))))  &trans                 &trans                 &trans  &trans
                        &trans                 &trans                 &trans    &trans                 &trans                 &trans
            >;

            label = "Win";
        };

        layer_9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
