// Macros
ZMK_BEHAVIOR(tmux_mmax, macro,
  bindings = <&kp LC(S) &kp Z>;
) // Minimize/maximize current tmux pane
ZMK_BEHAVIOR(tmux_scr, macro,
  bindings = <&kp LC(S) &kp LBKT>;
) // Enter tmux scroll mode
ZMK_BEHAVIOR(tmux_s_t, macro,
  bindings = <&kp LC(S) &kp LS(T)>;
) // Open session switcher
ZMK_BEHAVIOR(tmux_w_n, macro, 
  bindings = <&kp LC(S) &kp N>;
) // Switch to next tmux window
ZMK_BEHAVIOR(tmux_w_p, macro,
  bindings = <&kp LC(S) &kp P>;
) // Switch to prev tmux window
ZMK_BEHAVIOR(tmux_s_n, macro,
  bindings = <&kp LC(S) &kp LPAR>;
) // Switch to next tmux session
ZMK_BEHAVIOR(tmux_s_p, macro,
  bindings = <&kp LC(S) &kp RPAR>;
) // Switch to prev tmux session
ZMK_BEHAVIOR(kb_tog_ru, macro,
  bindings = <&kp HYPER_C(F6) &to DEF>;
) // Enable QWERTY and trigger OS layout switch to russian
ZMK_BEHAVIOR(kb_tog_en, macro,
  bindings = <&kp HYPER_C(F5) &to COL>;
) // Enable Colemak and trigger OS layout switch to english
